.grand-total-cost, .installation-cost, .supply-cost{
  width: 100%;
  text-align: right;
}
.grand-total-cost{
  background: #ccc;
  padding: 10px; 
}

.views-widget select#edit-type option[value="quotation"],
.views-widget select#edit-type option[value="All"],
form.node-quotation-form .field-name-field-scope-of-work,
form.node-quotation-form .field-name-field-terms-and-conditions,
form.node-quotation-form .field-name-field-exclusion,
form.node-quotation-form .field-name-field-warranty,
form.node-quotation-form .field-name-field-conclusion
{
  display: none !important;  
}
input#installation-total{
  border: none;
  font-family: normal 13px/1.538em Open Sans, "Segoe UI", "Helvetica", sans-serif;
}
input#installation-total{
  display: none;
}
